{{ $summarydetails := .SummaryDetails }}
{{ $disclaimertext := .Disclaimer.DisclaimerText }}
{{ $isdisclaimer := .Disclaimer.Defined }}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="assets/stylesheet.css">
    <link rel="shortcut icon" type="image/png" href="assets/icon.png"/>
    <title>The Mi'kmaw Conjugator</title>
    <meta charset="UTF-8">
    <meta name="description" content="Procedural conjugator that returns the forms for an input verb in Mi'kmaw.">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<fieldset>
    <legend>{{ .ContactTitle }}</legend>
    <ul><li><a class="pagelink" href="https://wills-corner.com/contact" target="_blank">{{ .ContactMe }}</a></li></ul>
</fieldset>
<fieldset>
    <legend>{{ .LanguageFieldLabel }}</legend>
    <ul>
        <li><a class="pagelink" href="/eng">{{ .English }}</a></li>
        <li><a class="pagelink" href="/mkw">{{ .Mikmaw }}</a></li>
        <li><a class="pagelink" href="/fre">{{ .French }}</a></li>
    </ul>
</fieldset>
<fieldset>
    <legend>{{ .InfoTitle }}</legend>
    <ul><li>{{ .HelpTitle }} <div class="hover-text">i<span class="tooltip-text" id="left">{{ .HelpField }}</span></div></li>
        <li>{{ .SourceTitle }} <div class="hover-text">i<span class="tooltip-text" id="left">{{ .SourceField }}</span></div></li>
    </ul>
</fieldset>
<fieldset>
    <legend>{{ .OutputTitle }} <b>{{ .InputString }}</b></legend>
    <ul><li>{{ .OutputConjugationTitle }}: <i>{{ .OutputConjugation }}</i></li>
        <li>{{ .OutputModelTitle }}: <i>{{ .OutputModel }}</i></li>
    </ul>
</fieldset>
<h1>{{ .Title }}</h1>
<form method="POST">
    <label for="verbinput">{{ .EntryPrompt }}</label><br>
    <label id="orthographyradiolabel">{{ .OrthographyRadioButtonTitle }}</label>
    <label for="0">Francis-Smith</label>
    <input type="radio" class="radiobutton" name="orthographyradiobutton" value="0" checked>
    <label for="1">Listuguj</label>
    <input type="radio" class="radiobutton" name="orthographyradiobutton" value="1"><br>
    <input type="text" class="input" name="verbinput">
    {{ .ConjugateButton }}
    <div class="hover-text">i<span class="tooltip-text">{{ .OrthographyTooltip }}</span></div>
</form>
{{ range $table := .TableData.Tables }}
<details class="details">
    <summary>{{ $summarydetails }} <b>{{ $table.Title }}</b>{{ if $isdisclaimer }}<div class="hover-text" id="disclaimer">i<span class="tooltip-text">{{ $disclaimertext }}</span></div>{{ end }}</summary>
    <table>
        {{ range $columnindex, $column := $table.RowsAndColumns }}
            <tr>
                {{ range $rowindex, $row := $column }}
                    {{ if or (eq $rowindex 0) (and (eq $columnindex 0) (or (eq $table.Type 2) (eq $table.Type 3))) }}
                        <td><i>{{ $row }}</i></td>
                    {{ else }}
                        <td>{{ $row }}</td>
                    {{ end }}
                {{ end }}
            </tr>
        {{ end }}
    </table>
</details>
{{ end }}

<div class="footer">
<h2><i>This conjugator is made for use with Mi'kmaw (Mikmaw, Mi'kmaq, Mikmaq, Mi'gmaq, Migmaq, Micmac). This conjugation tool is made for use by both learners and educators.</i></h2>
</div>
</html>